main p {
    font-size: 10px;
}
.aboutimage{
    width: ;
    height: 500px;
}
footer {
    flex: 0 30px;
    background-color:  rgb(188, 188, 233)
  }
header {
    flex: 0 80px;
    justify-content: center;
    border-style: groove;
    background-color: rgb(188, 188, 233)
  }
  main p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
  }
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/uefa-champions-league-european-football-trophy-1adte9flb0j6dhrw.jpg');
  }