/* main */
body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    justify-content: center;
    border-style: groove;
    background-color: rgb(188, 188, 233)
  }

  main h1{
    font-family: cursive;
    font-size: 100px;
    color: rgb(255, 0, 0);
    box-sizing: content-box;
    
  }
  main p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
  }
  main label {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    text-align: center
  }
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/uefa-champions-league-european-football-trophy-1adte9flb0j6dhrw.jpg');
  }
  
  footer {
    flex: 0 30px;
    background-color:  rgb(188, 188, 233)
  }
  span {
    font-style: olbique;
    font-size: 30px;
  }
  menu {
    flex: 1;
    display: fle;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: numbers;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(24, 54, 161) thin;
  }
  
  menu .nav-item {
    padding: 0 .3em;

  }
  
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }


